* {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: #f8fafb;
}

:root {
  --primary: #9080d5;
}
h1 {
  margin-bottom: 1em;
  font-size: 25px;
  text-align: start;
}
section {
  text-align: center;
  /* border: 1px solid #ced4da; */
  border-radius: 1em;
  margin: auto;
  margin-top: 5em;
  padding: 2rem;
  width: 30rem;
}

form, p, span {
  /* align-items: center; */
  text-align: start;
  line-height: 1.5;
  color: rgb(105, 100, 100);
  margin: auto;
}

.form-control:focus{
  color: #495057;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 208, 0, 0.25);
}

.form-control {
  box-shadow: 1px 1px rgb(173, 167, 166);
  display: inline-block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  margin-top: 1em;
  width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
}

a {
  text-decoration: none;
  color: rgb(52, 91, 219);
}
.forgot {
  text-align: end;
  align-items: flex-end;
}

input[type="submit" i] {
  text-align: center;
  background-color: rgb(83, 162, 236);
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 12px 11em;
  border-radius: 0.8em;
  border: 2px solid;
}

.regist {
  text-align: center;
  margin-top: 2em;
}

.logo1 {
  width: 40px;
  margin-bottom: 1em;
}

figure {
  text-align: start;
}